// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small_image {
	width: 250px;
}

.my_car {
	padding: 20px;
	margin: 5px;
	min-width: 200px;
	min-height: 200px;
	border: solid 1px red;
	border-radius: 10%;
	img, .car_pic {
		max-width: 180px;
		max-height: 180px;
		margin-top: 10px;
	}
}

.my_car:hover {
	background-color: red;
}

.car_actions {
	text-align: right;
	background-color: rgba(250, 250, 250, 0.3);
	bottom: 0;
	width: 100%;
	margin-top: 160px;

}

.btn-action {
	margin: 5px;
}

.car_banner {
	width: 100%;
	height: 60vh;
	position: fixed-top;
	background-position : center center;
	background-repeat: no-repeat;
	object-fit: cover;	
 	background-color: #000;
 	margin-bottom: 50px;
}

.car_title { 
	text-align: center; 
	padding-top: 150px; 
	color: #E2E2E2;
}

.image-upload-wrap {
	text-align: center;
	position: relative;
	width: 100%;
	min-height: 300px;
	border: 4px dashed #E2E2E2;
	background-color: #fff;

	h3, em {
		margin-top: 100px;
	}
}


.file-upload-input {
	position: absolute;
	margin-top: 0;
	margin-left: -50%;
	width: 100%;
	min-height:300px;
	outline: none;
	opacity: 0;
	cursor: pointer;
}


.image-upload-wrap:hover {
	background-color: #E2E2E2;
  border: 4px dashed #fff;
  -webkit-transition  : all 400ms ease;
  -moz-transition     : all 400ms ease;
  -ms-transition      : all 400ms ease;
  transition          : all 400ms ease;
}