// Place all the styles related to the consumptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.red {
  color: red;
}

.consos , .car_actions {
 margin-top: 15px;
 margin-bottom: 30px;
 padding: 20px;
 border: dashed 1px #A5A5A5FF;
}


.conso tbody tr:hover td,tr:hover th {
  background-color: yellow;
}


@media screen and (max-width: 670px){
	.desktop {
		display: none;
	}

	.datepicker, .btn {
		margin: 5px;
	}

	.main-title {
		font-size: 20px;
		margin-top: 20px;
	}
}